.banner{
    //max-height: 100vh;
    font-family: $primaryfont;
    .layout{
        //height: 80%;
        .wrapper{
            .intro{
                .intro-title{
                    font-family: $primaryfont;
                    font-size: 3rem;
                    color: $darkgray;
                }
                .mytopcarousel{
                    font-family: $secondaryfont;
                }
                .slide{
                    width: 100%;
                    height: 100%;
                }
                .description{
                    font-family: $primaryfont;
                    color: $dark_pink;
                }
            }
        }

        i.serviceitem{
            font-size: 70px;
            color: $blue;
            //border: 5px $blue solid;
            padding: 25px;
        }
        .hours{
            padding: 0 4px;
        }
        .info{
            font-family: $primaryfont;
            font-size: 22px;
            a .fa-facebook{
                color:rgb(0, 89, 255);
            }
            a .fab{
                font-size: 30px;
            }
        }
        .brands{
            font-family: $primaryfont;
            font-size: 25px;
            color: $dark_pink;
            .fa-google-plus-g{
                color:green;
            }
        }
        .imgpromo{
            width: 100%;
            height: 100%;
        }
    }
}
