.banner{
    position: relative;
    .productslist{
        .card{
            transition: transform .5s ease-in-out;
            max-width: 15rem;
            height: 10rem;
            position: relative;
            overflow: hidden;
            &:hover{
                transform: scale(1.1,1.1);
            }

            .fade{
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: transparent;
                transition: background-color 1s ease-in-out;
            }
            .fadeactive{
                opacity: 20%;
                background-color: $white;
                transition: background-color 1s ease-in-out;
            }

            .productinfo{
                position: absolute;
                height: 100%;
                width: 100%;
                padding: 3px 15px;
                z-index: 2000;
                top: 50px;
                left: 0;
                right: 0;
                font-family: $primaryfont;
                color: $white;
                transition: background-color 1s ease-in-out;
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }
            .activeproductinfo{
                opacity: 1;
                transition: opacity 1s ease-in-out;
            }
            .addto{
                position: absolute;
                z-index: 2001;
                left: 0;
                right: 0;
                bottom: 5px;
                font-family: $secondaryfont;
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }
            .activecard{
                opacity: 100%;
                transition: opacity 1s ease-in-out;
            }
            img.logoinProduct{
                position: absolute;
                border: none;
                top: 10px;
                right: 15px;
            }
            .logoinProduct{
                animation: logo none;
            }
        }
    }

}
