.bannerService{
    color: $dark_pink;
    font-size: 1.2rem;
    font-family: 'Comfortaa';
    .intro{
        .welcoming{
            color: $dark_pink;
            font-family: $primaryfont;
        }
    }
    .opportinuty{
        i{
            font-size: 1.5rem;
            color: chartreuse;
        }
    }
    .payement{
        .paymenttitle{
            font-family: $primaryfont;
            text-decoration: underline;
        }
        .titleitem{
            font-size: 1.5rem;
        }
        img{
            width: 10rem;
            max-width: 15rem;
        }
        .bank{
            img.boa{
                padding: 18px;
                border: 2px solid rgba(3, 110, 3, 0.959);
                border-radius: 8px;
            }
        }
    }
}
