.bannerService{
    color: $white;
    font-size: 1.2rem;
    .intro{
        font-family: 'Courier New', Courier, monospace;
        .welcoming{
            color: $white;
            font-family: $primaryfont;
        }
        .opportinuty{
        }
    }
    .aide{
        font-family: 'Courier New', Courier, monospace;
        a{
            text-decoration: none;
            color: rgb(20, 245, 196);
        }
    }
    .payment{
        .paymenttitle{
            font-family: $primaryfont;
            text-decoration: underline;
        }
        picture{
            img{
                width: 10rem;
            }
            .mobileMoney{
                display: block;
            }
        }
    }
}
