/node_modules
/public/hot
/public/fontawesome-free-5.15.3-web
/resources/views/layouts/tmp
/resources/sass
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
