/node_modules
/public/hot
/public/storage
/resources/views/layouts/tmp
/resources/sass
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Local Netlify folder
.netlify
