@import 'partials/variables';
@import 'partials/globals';

header.navbar{
    .logo{
        border: 2px solid $white;
        border-radius: 100%;
        transition: transform 0.5s ease-in-out;
    }
    .logo:hover{
        border: 2px solid $dark_white;
        transform: scale(1.1,1.1);
    }

    .navbar-text{
        color: $white;
        font-family: Marck Script;
        font-size: xx-large;
        transition: transform 0.5s ease-in-out;
    }
    .navbar-text:hover{
        color: $dark_white;
        transform: scale(1.1,1.1);
    }

    nav{
        ul{
            li a{
                font-family:Marck Script;
                font-size: x-large;
                color: $white;
            }
            li a:hover{
                color: $dark_white;
                text-decoration: underline;
            }
        }
    }
    input[placeholder=Search]{
        color: red;
    }
}

.myCarousel{
    max-height: 60vh;
    background-color:gainsboro;
    overflow: hidden;
}

.waves{
    position: relative;
    height: 100vh;
}
svg{
    position: absolute;
    bottom: 0;
}
