@import 'partials/variables';
@import 'partials/globals';

header.navbar{
    .logo{
        border: 2px solid $white;
        border-radius: 100%;
        transition: transform 0.5s ease-in-out;
    }
    .logo:hover{
        border: 2px solid $dark_white;
        transform: scale(1.1,1.1);
    }

    .navbar-text{
        color: $white;
        font-family: $primaryfont;
        font-size: xx-large;
        transition: transform 0.5s ease-in-out;
    }
    .navbar-text:hover{
        color: $dark_white;
        transform: scale(1.1,1.1);
    }

    nav{
        ul{
            li a{
                font-family:$primaryfont;
                font-size: x-large;
                color: $white;
            }
            li a:hover{
                color: $dark_white;
                text-decoration: underline;
            }
        }
    }
}
.banner{
    min-height: 100vh;
    max-height: 100vh;
    //overflow: hidden;
    .layout{
        //height: 80%;
        .wrapper{
            .intro{
                .intro-title{
                    font-family: $primaryfont;
                    font-size: 3rem;
                    color: $white;
                }
                .description{
                    font-family: $primaryfont;
                    color: $dark_white;
                }
            }
        }
        .services{
            //height: 15rem;
            overflow: hidden;
            min-height: 50vh;
            font-family: $secondaryfont;
            color: $white;
            font-size: 20px;
            i.service-item{
                font-size: 70px;
                color: $white;
                border: 5px $white solid;
                padding: 25px;
            }
            .hours{
                padding: 0 4px;
            }
            .info{
                font-family: $primaryfont;
                font-size: 22px;
            }
            .brands{
                font-family: $primaryfont;
                font-size: 25px;
                color: $dark_pink;
                .fa-google-plus-g{
                    color:green;
                }
            }
            .imgpromo{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.footer{
    height: 1.5rem;
}
