body {
  background-image: linear-gradient(to top left, orange, #f50992);
  width: auto;
}

header.navbar .logo {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  transition: transform 0.5s ease-in-out;
}
header.navbar .logo:hover {
  border: 2px solid #f3eaef;
  transform: scale(1.1, 1.1);
}
header.navbar .navbar-text {
  color: rgb(255, 255, 255);
  font-family: "Marck Script";
  font-size: xx-large;
  transition: transform 0.5s ease-in-out;
}
header.navbar .navbar-text:hover {
  color: #f3eaef;
  transform: scale(1.1, 1.1);
}
header.navbar nav ul li a {
  font-family: "Marck Script";
  font-size: x-large;
  color: rgb(255, 255, 255);
}
header.navbar nav ul li a:hover {
  color: #f3eaef;
  text-decoration: underline;
}

.banner {
  height: 1080px;
  max-height: 100vh;
}
.banner .layout .wrapper .intro .intro-title {
  font-family: "Marck Script";
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.banner .layout .wrapper .intro .description {
  font-family: "Marck Script";
  color: #f3eaef;
}
.banner .layout .services {
  font-family: "Lobster";
}
.banner .layout .services i {
  font-size: 70px;
  color: rgb(255, 255, 255);
  border: 5px rgb(255, 255, 255) solid;
  padding: 25px;
}
.banner .layout .services .livraison {
  font-size: 50px;
  font-family: "Marck Script";
  border: 5px rgb(255, 255, 255) solid;
  padding: 30px;
  border-radius: 100%;
}
.banner .layout .services .hours {
  font-size: 80px;
}

.footer {
  height: 4rem;
}
.footer .footer-items .brandsintro {
  font-family: "Marck Script";
  font-size: 25px;
  color: #f50992;
}
.footer .footer-items .fa-google-plus-g {
  color: green;
}
