body {
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  font-family: "Comfortaa", "Century Gothic", "sans-serif";
}

.logo {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  transition: transform 0.5s ease-in-out;
}
.logo:hover {
  border: 2px solid #f3eaef;
  transform: scale(1.1, 1.1);
}

.tohome {
  z-index: 3000;
  font-size: 20px;
  left: 10px;
  bottom: 10px;
  display: none;
  color: #4f5b60;
}
.tohome a {
  color: #4f5b60;
}
.tohome a i {
  font-size: 50px;
}

.tohomeactive {
  position: absolute;
  z-index: 3000;
  font-size: 20px;
  left: 10px;
  bottom: 10px;
  display: block;
}
.tohomeactive a {
  color: #4f5b60;
}

.categoryItems {
  z-index: 1000;
}
.categoryItems li:active {
  background-color: aqua;
}
.categoryItems li {
  font-family: "Comfortaa", "Century Gothic", "sans-serif";
}

.pink {
  color: #f50992;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#usercartsAndMessage {
  z-index: 1000;
  position: fixed;
  right: 1rem;
  top: 5rem;
}

header.navbar .navbar-text {
  color: #f50992;
  font-family: "Marck Script", "Script MT Bold", "cursive";
  font-size: xx-large;
  transition: transform 0.5s ease-in-out;
}
header.navbar .navbar-text:hover {
  color: #6a31a4;
  transform: scale(1.1, 1.1);
}
header.navbar .menuicon {
  border: 2px solid #f50992;
  transition: transform 0.5s ease-in-out;
}
header.navbar .menuicon:hover {
  transform: scale(1.1, 1.1);
}
header.navbar ul li a {
  font-family: "Marck Script", "Script MT Bold", "cursive";
}
header.navbar .dropdown-menu {
  z-index: 2500;
}

.footer {
  height: 1.5rem;
}

@-webkit-keyframes logo {
  0%, 100% {
    transform: rotateZ(-0.5rad);
  }
  75% {
    transform: rotateZ(1rad);
  }
}

@keyframes logo {
  0%, 100% {
    transform: rotateZ(-0.5rad);
  }
  75% {
    transform: rotateZ(1rad);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40%, 43% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(-20px);
  }
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40%, 43% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(-20px);
  }
}
.bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

.logo, .navbar-text {
  -webkit-animation: 0.5s ease-in 1s 1;
          animation: 0.5s ease-in 1s 1;
}

.logo {
  -webkit-animation: logo 4s infinite;
          animation: logo 4s infinite;
}

.bannerService {
  font-size: 1.2rem;
  font-family: "Comfortaa";
}
.bannerService .intro .welcoming {
  font-family: "Marck Script", "Script MT Bold", "cursive";
}

.allcommandstitle {
  font-family: "Marck Script", "Script MT Bold", "cursive";
}

.container {
  font-family: "Comfortaa", "Century Gothic", "sans-serif";
}
