body{
    background-image: linear-gradient(to top left,$orange,$dark_pink);
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    //height: 100%;
    //min-height: 1000px;
}
