//New colors
$violet:#5e37ca;
$dark_violet:#5f11a8;
$light_violet: #6a31a4;
$orange_primary:#f86707;
$orange_secondary:orange;
$dark_pink:#f50992;
$white:rgb(255, 255, 255);
$dark_white:#f3eaef;
$green: #39f320;
$light_green:rgb(43, 167, 12);
$dark_green:rgb(13, 156, 13);
$gray: #4f5b60;
$darkgray:rgb(71, 70, 70);
$light_gray:rgb(179, 174, 174);
$super_light_gray: #e9ebec;
$black:rgb(41, 39, 39);
$light_blue: #dbe3e8;

$blue:rgba(15, 76, 247, 0.925);


//Fonts
$primaryfont : 'Marck Script';
$secondaryfont : 'Lobster';
