body{
    //background-image: linear-gradient(to top left,$orange_primary,$dark_pink);
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    //height: 100%;
    //height: 1000px;
}
.logo{
    border: 2px solid $white;
    border-radius: 100%;
    transition: transform 0.5s ease-in-out;
    &:hover{
        border: 2px solid $dark_white;
        transform: scale(1.1,1.1);
    }
}
.tohome{
    //position: absolute;
    z-index: 3000;
    font-size: 20px;
    left: 10px;
    bottom: 10px;
    display: none;
    color: $gray;
    a{
        color: $gray;
        i{
            font-size: 50px;
        }
    }
}
.tohomeactive{
    position: absolute;
    z-index: 3000;
    font-size: 20px;
    left: 10px;
    bottom: 10px;
    display: block;
    a{
        color: $gray;
    }
}
.categoryItems{
    li:active{
        background-color: aqua;
    }
    li{
        font-family: $secondaryfont
    }
}
.pink{
    color: $dark_pink;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#usercartsAndMessage{
    z-index: 3500;
    position: fixed;
    right: 1rem;
    top: 5rem;
}
