header.navbar{
    //z-index: 5000;
    .navbar-text{
        color: $dark_pink;
        font-family: $primaryfont;
        font-size: xx-large;
        transition: transform 0.5s ease-in-out;
        &:hover{
            color: $light_violet;
            transform: scale(1.1,1.1);
        }
    }

    .menuicon{
        border: 2px solid $dark_pink;
        transition: transform 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }

    ul{
        li a{
            font-family:$primaryfont;
        }
    }
    .dropdown-menu{
        z-index: 2500;
    }
}
